/* LAYOUT PRINCIPAL */
.container {
    display: flex;
}

/* TITULOS DE CONTENIDO */
.contenido h2 {
    border-bottom: 2px solid var(--azul);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* 🔥 MENU HORIZONTAL */
.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu ul li a {
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s;
}

.menu ul li a:hover {
    background-color: var(--azul);
}

/* 🔴 SIDEBAR (oculto para cumplir TP) */
.sidebar {
    display: none;
}

/* CONTENIDO */
.contenido {
    flex: 1;
    padding: 25px;
}

/* CONTENEDOR DE PRODUCTOS */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* TARJETAS */
.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s;
}

/* EFECTO HOVER */
.card:hover {
    transform: translateY(-5px);
}

/* IMAGEN */
.card img {
    width: 100%;
    border-radius: 10px;
}

/* TITULO PRODUCTO */
.card h3 {
    font-size: 16px;
    margin-top: 10px;
}

/* TEXTO */
.card p {
    margin-top: 8px;
    font-size: 14px;
}

/* PRECIO */
.precio {
    color: var(--naranja);
    font-weight: bold;
    margin: 5px 0;
}

/* BOTÓN */
.card button {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--azul-claro);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: var(--azul);
}